Repository betagouv/leximpact-server, pull requests merged in 2019-07, with the labels that each got.

#28 Correction d'incohérences dans les cas-types par défaut
  Simulation_engine/DCT.csv
  Simulation_engine/simulate_pop_from_reform.py
  setup.py
  tests/server/handlers/test_cas_types.py
Labels: kind:bug, type:engine

#34 Sauvegarde baton sur DB
  .circleci/config.yml
  .env.example
  Aptfile
  Makefile
  Procfile
  README.md
  alembic.ini
  models/__init__.py
  models/jwt.py
  models/user.py
  repo/__init__.py
  repo/config.py
  repo/create_db.py
  repo/env.py
  repo/script.py.mako
  repo/versions/fbddd9e181d5_create_user.py
  server/api.yaml
  server/app.py
  server/handlers/auth.py
  server/handlers/cas_types.py
  server/services/__init__.py
  server/services/auth.py
  server/services/auth_services.py
  server/services/database_services.py
  server/services/openfisca.py
  setup.py
  tests/conftest.py
  tests/models/test_jwt.py
  tests/models/test_user.py
  tests/server/handlers/conftest.py
  tests/server/handlers/test_auth.py
  tests/server/handlers/test_welcome.py
  tests/server/services/test_auth.py
  tests/server/services/test_auth_services.py
  tests/server/services/test_database_services.py
  tests/server/services/test_openfisca.py
Labels: kind:solution, type:api

#38 Correction bug decote
  Simulation_engine/reforms.py
Labels: kind:bug
